:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "KirangHaerang-Regular";
  src: url("../public/KirangHaerang-Regular.ttf") format("truetype");
}

body {
  width: 100vw;
  font-family: "Karla", sans-serif;
  position: relative;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #000;
  width: 100vw;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
}

.headerIcons span {
  margin: 0 0 0 1em;
}

.container {
  max-width: 1080px;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.icons {
  display: flex;
  align-items: center;
  width: 100%;
}

.icons div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons button {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 0.2em 1em;
  margin-right: 1em;
}

.productsContainer,
.card,
.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsContainer {
  flex-wrap: wrap;
}

.card,
.infoContainer {
  flex-direction: column;
}

.card {
  width: 310px;
  margin: 1em;
}

.detailsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: "KirangHaerang-Regular", sans-serif;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 5rem;
  color: #fff;
}

h2 {
  position: relative;
  font-size: 4.5rem;
  margin-top: 0.5em;
}

button,
svg {
  cursor: pointer;
  position: static;
  color: white;
}

.infoContainer {
  justify-content: space-between;
  font-weight: 400;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: -4px -5px 70px rgb(169, 167, 167);
  width: 100%;
  padding: 2em;
  margin-top: -30px;
  color: #fff;
}

img {
  width: 100%;
}

.imgContainer {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: -82px;
  position: relative;
}

button {
  background: transparent;
  border: none;
}

.price::before {
  content: "£";
}
.price::after {
  content: "ph";
}

.price,
p {
  font-size: 2rem;
}

.price {
  font-weight: 700;
}

.filterButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.filterButtonContainer button {
  background-color: #000;
  color: #fff;
  margin: 0.5em 1em;
  padding: 1em 2em;
  border-radius: 30px;
  font-weight: 700;
}

.filterAndSortContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  background-color: transparent;
  text-align: center;
  border-radius: 30px;
  padding: 0.5em 1em;
  margin: 1.5em 0;
  font-family: "Karla", sans-serif;
  align-self: center;
  width: 300px;
  color: #fff;
}

option {
  background-color: #fff;
  color: #000;
}

.cart {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height:90%;
  max-width: 1080px;
  margin: auto;
  top: 0;
  /* left: 0; */
  bottom: 0;
  /* right: 0; */
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: none;
}

.cartVisible {
  display: flex;
}

.cartInfo {
  background-color: #000;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1080px;
  text-align: right;
  padding: 0.2em 2em;
}

.cart .imgContainer {
  width: 20vh;
  height: 20vh;
}

.cart .infoContainer {
  background: none;
  box-shadow: none;
  margin: 0;
  padding-bottom: 0;
}

.cartProduct {
  margin: 1em 0;
  border-bottom: 2px solid black;
  padding-bottom: 2em;
  color: black;
}

.cart .infoContainer,
.cart svg,
.cart h1 {
  color: #000;
}

.cart h1 {
  font-size: 4.5rem;
  width: 100%;
}

.cartProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.cart .products {
  margin-bottom: 7em;
}

.cart h2 {
  font-size: 3rem;
  margin: 0;
}

.cart p,
.cart .price {
  font-size: 1.2rem;
}

.cartInfo p,
.cartInfo .price {
  font-size: 2rem;
}

.cart .price::after {
  content: "";
}
.cart .buttonContainer p {
  margin-top: -5px;
}
.cart svg {
  font-size: 2.5rem;
}

.noProducts {
  color: #000;
  margin-top: 1.8em;
}
.hide {
  display: none;
}

.showSort,
.showFilter {
  background-color: #000;
  color: #fff;
}
