.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  font-size: 62.5%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 250px;
border:1px solid black;
margin: 1em;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;}
.product .title {
  text-align: center;
}
.cart {
  background-color:#fbbb61;
  ;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  z-index: 1;
  top: 0;
  right: 0;
}
.cart-info {
  display: flex;
  justify-content: flex-end
}
.cart > .products {
  background-color: #c8811d;
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-width: 30px;


}
.price::before {
  content: '£';
}
.button {
  border:none;
  padding: 1em;
  border-radius: 10px;
  margin:0.5em;
  cursor: pointer
}
.button.add {
  background-color: rgba(136, 174, 75, 0.486);
}
.button.add:hover {
  background-color: rgba(136, 174, 75);
}
.button.like {
  background-color: rgba(174, 75, 129, 0.504);
}
.button.like:hover {
  background-color:rgb(174, 75, 129);
}
.liked {
  background-color:rgb(174, 75, 129);
}
.added {
  background-color: rgba(136, 174, 75);
}
.cartProduct {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.cartProduct .title {
width: 40%;
}
.cartProduct .buttonContainer {
  width: 10%;
}

.button.checkout {
  background-color: rgb(218, 166, 36);
}

.cart {
  width: 100%;
  text-align: left;

}

.price, .quantity {
  font-weight:800;
}