:root {
  font-size: 62.5%;
}

@font-face {
  font-family: "KirangHaerang-Regular";
  src: url("../public/KirangHaerang-Regular.ttf") format("truetype");
}

body {
  width: 100vw;
  background-color: rgb(248, 114, 137);
  background-image: url("/public/gradient-geometric-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container,
.card,
.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-wrap: wrap;
}

.card,
.infoContainer {
  flex-direction: column;
}

.card {
  width: 310px;
  margin: 1em 3em;
}

.cart {
  display: none;
}

h2 {
  font-family: "KirangHaerang-Regular", sans-serif;
  font-size: 9rem;
  margin: -170px 0 0 0;
  color: rgb(26, 39, 186);
  text-align: center;
  line-height: 50px;
}

.infoContainer {
  background-color: rgba(10, 98, 175, 0.655);
  color: #fff;
  border-radius: 40px;
  width: 100%;
  height: 300px;
}

img {
  width: 100%;
}

.imgContainer {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: -82px;
}

button {
  background: transparent;
  border: none;
}

.price::before {
  content: "£";
}
.price::after {
  content: "ph";
}

/* :root {
  font-size: 62.5%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 250px;
border:1px solid black;
border-radius: 20px;
margin: 1em;
display:flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
position: relative;}
.product .title {
  text-align: center;
}
.cart {
  background-color:#bcd3f4;
  ;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  z-index: 1;
  top: 0;
  right: 0;
}
.cart-info {
  display: flex;
  justify-content: flex-end
}
.cart > .products {
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-width: 30px;


}
.price::before {
  content: '£';
}
.button {
  border:none;
  padding: 1em;
  border-radius: 10px;
  margin:0.5em;
  cursor: pointer
}
.button.add {
  background-color: rgba(136, 174, 75, 0.486);
}
.button.add:hover {
  background-color: rgba(136, 174, 75);
}
.button.like {
  background-color: rgba(174, 75, 129, 0.504);
}
.button.like:hover {
  background-color:rgb(174, 75, 129);
}
.liked {
  background-color:rgb(174, 75, 129);
}
.added {
  background-color: rgba(136, 174, 75);
}
.cartProduct {
  display:flex;
  width: 100%;
  justify-content: space-between;
  margin: 1em 0;
  background-color: #7ea4ea;

}

.cartProduct .title {
width: 40%;
}
.cartProduct .buttonContainer {
  width: 10%;
}

.button.checkout {
  background-color: rgb(218, 166, 36);
}

.cart {
  width: 100%;
  text-align: left;

}

.price, .quantity {
  font-weight:800;
} */
